.text{
margin-left: 570px;
}
.garry{

    margin-left: 570px;
    margin-bottom: 30px;

}
.head{
   margin-left: 30px;



}
.mid{
    margin-left: 570px;
}
.diving {
    padding: 10px;
}
.ciber{
    margin-left: 1130px;
}
.pie{
    margin-left: 30px;
}

.center{
    margin-left: 500px;
}
.type{
    margin-left: 1150px;


}
.type2{
    margin-left: 30px;
    margin-bottom:-70px;
}
.apple{
    margin-left: 1250px;
}
