

.book-bg{
    margin-left: 320px;
    position: relative;
    width: 500px;
    height: 800px;
    background-size: cover;
    transform-style: preserve-3d;
    perspective: 500px;



}
.h1{
    margin-left: 150px;
}
.horry{
    border-right:20px solid black;
    border-left:20px solid black;
    border-bottom:20px solid black;
    border-top:20px solid black;
}
