.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: cadetblue;
    padding: 15px;
    border-radius: 4px;
    width:55%;
    margin-left: 340px;

}
.wrapper>div{
    padding: 20px;
}
.login{
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:1;
    grid-row-end:2;
    font-size: 25px;
    background-color: cornflowerblue;

}
.login2{
    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start:2;
    grid-row-end:10;
    background-color: darkcyan;
}
.login3{
    grid-column-start:1;
    grid-column-end:4;
    grid-row-start:10;
    grid-row-end:11;

}

#username,#password{
    width: 40%;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 5px;
    border-radius: 4px;
}
#labusername{
    margin-right: 250px;
}
#labpassword{
    margin-right: 254px;
}

#button{
    margin-left: 320px;
    padding: 6px 22px;
    border-radius: 4px;
    background-color: cornflowerblue;
}
.forgot{
    float: right;
}
.account{
   float: left;
    margin-top:5%;
    margin-bottom: 0;
}
.hepldesk{
    margin-top:5%;
    margin-bottom: 0;
    float: right;

}