body{
    background-color: yellowgreen;
}
h1{
    text-align: center;
}
.table{
    margin-left: 250px;
    display: grid;
    grid-template-columns: repeat(18, 5%);
    background-color:whitesmoke;
    grid-gap: 5px;
    height: 490px;
    width: 65%;
    color: white;
    font-weight: bold;
    padding: 40px;

}
#el1,#el6,#el7, #el8, #el9, #el15, #el16, #el17, #el34, #el35, #el53{
    background-color: cadetblue;
    border-radius: 4px;
    display: grid;
    justify-content: center;
    align-content: center;
}
#el2, #el10, #el18, #el36, #el54, #el72{
    background-color:dodgerblue;
    border-radius: 4px;
    display: grid;
    justify-content: center;
    align-content: center;
}
#el5, #el14, #el32, #el33, #el51, #el52, #el71{
    background-color: limegreen;
    border-radius: 4px;
    display: grid;
    justify-content: center;
    align-content: center;
}
#el13, #el30, #el31, #el48, #el49, #el50, #el66, #el67, #el68, #el69, #el70, #el84{
    background-color:greenyellow;
    border-radius: 4px;
    display: grid;
    justify-content: center;
    align-content: center;
}
#el81, #el82, #el83, #el85, #el86, #el87, #el88, #el89, #el90{
    background-color:goldenrod;
    border-radius: 4px;
    display: grid;
    justify-content: center;
    align-content: center;
}
#el21, #el22, #el23, #el24, #el25, #el26, #el27, #el28, #el29, #el39, #el40, #el41, #el42, #el43, #el44, #el45, #el46, #el47, #el58, #el59, #el60, #el61, #el62, #el63, #el64, #el65, #el76, #el77, #el78, #el79, #el80{
    background-color: rgb(251, 176, 59);
    border-radius: 4px;
    display: grid;
    justify-content: center;
    align-content: center;
}
#el4, #el12, #el20, #el38, #el56, #el74{
    background-color: orange;
    border-radius: 4px;
    display: grid;
    justify-content: center;
    align-content: center;
}
#el3, #el11, #el19, #el37, #el55, #el73{
    background-color: rgb(240, 89, 36);
    border-radius: 4px;
    display: grid;
    justify-content: center;
    align-content: center;
}
#el57, #el91, #el92, #el93, #el94, #el95, #el96, #el97, #el98, #el99, #el100, #el101, #el102, #el103, #el104{
    background-color: rgb(198, 156, 108);
    border-radius: 4px;
    display: grid;
    justify-content: center;
    align-content: center;
}
#el75, #el105, #el106, #el107, #el108, #el109, #el110, #el111, #el112, #el113, #el114, #el115, #el116, #el117, #el118{
    background-color: chocolate;
    border-radius: 4px;
    display: grid;
    justify-content: center;
    align-content: center;
}