.calculator{
    height: auto;
    width: 350px;
    background-color: grey;
    margin:60px auto;
    padding: 18px;

}

.main-bar {
   width: 258px;
    margin:auto;
    padding: 4px ;
}
#c{
    margin: auto;
}
.btn{
    font-size: 25px;
    width: 55px;
    margin: 5px auto;


}
.main-bar{
    font-size: 23px;
    font-weight: bold;
}