.container{
    text-align: center;
}
label{
   margin-right: 4%;
}
.size{
    margin-right: 0.7%;
}
body{
    background-color: burlywood;;
}
.button{
    padding: 5px 25px;
    background-color: limegreen;
}
#output{
    font-size: x-large;
    color: darkcyan;
}