body{
     margin: 0;
     padding: 0;
     background-image: url("https://reactjsexample.com/content/images/2019/12/React-Loading.gif");

 }
.percent-count{
    width: 450px;
    height: 50px;
    margin: 100px auto;
    text-align: center;
    font-size: 35px;
    color: peru;
}
.progress-bar{
    width: 506px;
    height: 26px;
    background-color: grey;
    margin: 50px auto;
    border-radius: 10px;
    padding: 3px;
}
.progress{
    width: 25px;
    height: 20px;
    border-radius: 6px;
    background-color: peru;
}