.jumbotron{
    border-radius: 6px;

}
h1,h2{
    text-align: center;
}
.container{
    border: 1px solid whitesmoke;
}
.btn-block{
    margin-top: 4%;
    margin-bottom: 2%;
}
.btn-secondary{
    margin-left: 680px;
}

.strong{
    text-align: center;
    margin-bottom: 5%;
}
.simple{
    margin-top: 3%;
    text-align: center;
}