body{
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/937215911992755225/72CD26E14B7FCBA028206A06F10548C0D5174CFC/");
    background-repeat: no-repeat;
    width: 120%;
    height:100%;
}
div {
    margin-bottom: 240px;
    width: 280px;
    height: 50px;
    background-color:black;
    font-weight: bold;
    position: relative;
    animation: mymove 4s infinite;
    animation-direction: alternate;

}
@keyframes mymove {
    from {background-color:brown;left: 0px;}
    to {background-color:darkviolet;left: 590px;}
}
#div1 {animation-timing-function: ease-out;}
