.b{
    width:150px;
    height:50px;
    border:4px solid black;
    position: relative;
}
.b::before, .b::after{
    content: '';
    position: absolute;
}
.b::after{
    width: 10px;
    height: 20px;
    background: black;
    right:-10px;top:15px;
}
.b::before{height: 100%;}
.low::before{
    width: 33%;
    background: red;
}
.medium::before{
    width: 66%;
    background: gold;
}
.high::before{
    width: 100%;
    background: midnightblue;
}
.flex-container {
    display: flex;
    background-color: DodgerBlue;
}
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}