.bluebox{
    border: 5px solid blue;
    margin: 30px;
    display: flex;
    align-content: space-between;



}
.redbox{
    border:6px solid red;
    margin: 40px;
    display:flex;
    flex-direction: column;
}
.text1{
    margin: 15px;
    font-size:20px;
}
.blue2{
    border: 5px solid blue;
    margin: 30px;
    display: flex;
    justify-content: flex-end;



}
.text2{
    font-size: 20px;
    order:1;
    margin: 20px;



}
.user2{
    margin: 5px;
    order:2;

}
.blue3{
    border: 5px solid blue;
    margin: 30px;
    display: flex;
    align-content: space-between;

}
.text3{
    margin: 15px;
    font-size: 20px;
}
