*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-nav a {
    color: white;
    background: gold;
    display: block;
    height:64px;
    font-family:"Arial Black";
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.4s;
}
#main-nav a:hover{
    background-color:red;

}
#main-nav ul{
    list-style: none;
    display: flex;
}
#main-nav li {
    width: 100%;
    text-align: center;
    position: relative;

}
#main-nav li:hover .submenu>li{
    display: block;
    top: 0px;
}
.submenu li{
    display: none;
    position: absolute;
    top: 0px;
}
.submenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;

}
.submenu li{
    position: relative;
}
.hi{
    text-align: center;
    margin-top: 10px;
}

