*{
    box-sizing: border-box;
}
.wrapper{
    width: 800px;
    margin: 5% auto;
}
.form-area{
    display: flex;
    background: rgba(0,0,0,0.7);
    border-radius:25px ;
    padding: 1.9em;
}
.msg-area{
    display: flex;
    flex-direction: column;
    order: 2;

}
.msg-area> textarea{
    flex:1;
    min-width: 18em;
    background: transparent;
    color: #fff;
    padding: 15px;

}
.details-area{
    flex: 1;
    order:1;
    margin-right: 2em;
}
.details-area> input{
    width: 100%;
    background: transparent;
    color: #fff;


}
.sub{
    margin-top:  10px;
}
