#main-nav a {
    color: white;
    background: gray;
    display: block;
    height: 64px;
    font-family: "Arial Black";
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;


}
#main-nav a:hover {
    background-color: dimgray;
}
#main-nav ul{
    list-style: none;
    display: flex;
}
#main-nav li {
    width: 100%;
    text-align: center;
    position: relative;
}
.submenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}
.center{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}
.pages{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
}
.submenu li{
    display: none;
    position: absolute;
    top: 0px;
}
.center li{
    display: none;
    position: absolute;
    top: 0px;
}
.pages li{
    display: none;
    position: absolute;
    top: 0px;
}
#main-nav li:hover .submenu>li {
    display: block;
    top: 0px;
}
#main-nav li:hover .center>li{
    display: block;
    top: 0px;
}
#main-nav li:hover .pages>li{
    display: block;
    top: 0px;
}
.hi{
    text-align: center;
}