body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
}
#header{
    background-color: darkkhaki;
    width: 100%;
    float: left;


}
#header ul{
    margin: 0 ;
    padding: 0;



}
body{
    margin: 0;
}
#header ul li a{
    text-decoration: none;
    color: rgba(153,70,43,0.99);
    padding: 15px;
    display: block;
}
#header ul li a:hover{
    background-color: khaki;

}
#header ul li{
    float: left;
    list-style: none;

}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
*,
*:before,*:after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1050px;
    margin: 0 auto;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("./culture/IMG_4460.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 1;

}
.intro_inner{
    width: 100%;
    max-width: 1040px;
    text-align: center;
    margin: 0 auto;


}
.intro_title{
    font-size: 90px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: black;

}
.intro_title:after{
    content: "";
    display: block;
    width: 110px;
    height: 7px;
    margin: 40px auto 0;
    background-color: black;

}
.intro_subtitle{
    font-size: 30px;
    color: #386799;
    font-family: "DejaVu Serif Condensed";
    margin-bottom:25px ;

}
.
.header{
    width: 100%;
    padding-top: 25px;
    position: absolute;
    top:0;
    left: 0;
    right:0;
    z-index:1000;


}
.header_inner{
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.header_logo{
    font-size: 27px;
    font-weight:600 ;
    color: lightblue;

}
.nav{
    font-size: 16px;
    text-transform: uppercase;
}
.nav_link{
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 30px;
    color: powderblue;
    text-decoration: none;
    transition: color 0.2s linear;

}
.nav_link:after{
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    background-color: aqua;
    opacity: 0;
    position: relative;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.1s linear ;
}
.nav_link:hover{
    color:cadetblue ;
}
.nav_link:hover:after{
    opacity: 1;
}
.btn{
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 2px solid powderblue;
    font-size: 14px;
    font-weight: 700;
    color: lightblue;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.1s linear ,color 0.1s linear ;
}
.btn:hover{
    background-color: aqua;
    color: darkslateblue;
}

.slider{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

}
.slider_inner{
    display: flex;
    justify-content: space-between;
}

.slider_item{
    padding:20px  50px 25px 20px;
    border-top:3px solid powderblue;
    width: 10%;
    position: relative;
    color: #99072e;



}
.slider_item.active{
    opacity: 1;
    font-size: 18px;
}
.slider_item.active:after{
    content: "";
    display: block;
    width:45px;
    height: 3px;
    position: absolute;
    top:-3px;
    left: 0;
    z-index: 1;
    background-color: darkslateblue;

}
.video{
    margin-left: 7%;
    margin-top: 10%;
    margin-bottom: 12%;
}
footer{
    text-align: center;
    background-color: #386799;
}
