*{
    max-width: 100%;
}
#header{
    background-color: darkkhaki;
    width: 100%;
    float: left;


}
#header ul{
    margin: 0 ;
    padding: 0;



}
body{
    margin: 0;
}
#header ul li a{
    text-decoration: none;
    color: rgba(153,70,43,0.99);
    padding: 15px;
    display: block;
}
#header ul li a:hover{
    background-color: khaki;

}
#header ul li{
    float: left;
    list-style: none;

}
.wrap{
    max-width: 1200px;
    margin:0 auto;




}
#content{
    clear: both;


}
div#content>div{
    float: left;
}
.sidebar{
    width: 15%;
    background-color: #aaaaaa;
    padding: 15px 10px;
    border: 1px solid grey;




}
.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;


}

.sidebar ul li a{
    width: 100%;
    display: block;
    padding: 15px 25px 15px 0;
    font-size: 17px;
    text-decoration: none;
    color: #99072e;

}

.text1{
    font-family: 'Tangerine', serif;
    color: rgba(11,35,30,0.99);
}


.container{
    width: 85%;


}




.p_border{
    border: 1px solid grey;
    margin: 8px;



}
footer{
    text-align: center;
    background-color: #386799;
}
