*{
    max-width: 100%;
}
#header{
    background-color: darkkhaki;
    width: 100%;
    float: left;


}
#header ul{
    margin: 0 ;
    padding: 0;



}
body{
    margin: 0;
}
#header ul li a{
    text-decoration: none;
    color: rgba(153,70,43,0.99);
    padding: 15px;
    display: block;
}
#header ul li a:hover{
    background-color: khaki;

}
#header ul li{
    float: left;
    list-style: none;

}
.wrap{
    max-width: 1200px;
    margin:0 auto;




}
#content{
    clear: both;


}
div#content>div{
    float: left;
}
.sidebar{
    width: 15%;

    background-color: #aaaaaa;
    padding: 15px 10px;
    border: 1px solid grey;




}
.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;


}

.sidebar ul li a{
    width: 100%;
    display: block;
    padding: 15px 25px 15px 0;
    font-size: 17px;
    text-decoration: none;
    color: #99072e;

}

.text1{
    font-family: 'Tangerine', serif;
    color: rgba(11,35,30,0.99);
}


.container{
    width: 85%;


}
.containere {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containere input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containere:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containere input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containere input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containere .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
footer{
    margin-top: 5%;
    text-align: center;
    background-color: #386799;
}
