*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}


body{
    font-weight: 500;
    line-height: 23px;
}
.header_top{
    background-color: #489499;
}

.header_btn{
    float: right;
   display: flex;
   justify-content: flex-end;
    font-family: 'Sen', sans-serif;
    font-size: 25px;
    color: #aaaaaa ;
    line-height: 37px;
    background-color: gainsboro;
    padding:5px 30px 5px 50px ;

}
.header_contacts:after{
    content: "";
    clear: both;
    display: block;
}
.header_phone,.header_icons{
    color: #aaaaaa;
    font-size: 25px;
    letter-spacing: 0.25px;
    line-height: 40px;
}
.header_phone{
    padding-left: 20px;
    padding-right: 30px;
}
.header_icons{
    padding-top: 7px;
    padding-left: 24px;
}
.header_content{
    padding: 20px 0px 30px;


}

.header_content-inner{
    display: flex;
    flex-direction: row;
   justify-content: space-around;




}
.menu li{
    display: inline-block;


}
.menu a{
    color: darkkhaki;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid transparent;
    transition: all .3s ;
}
.menu a:hover{
    border-color: darkkhaki;
}
.menu li+li{
    padding-left: 10px;
}

.slider{
    background-image: url("https://alicedartnell.com/wp-content/uploads/A00063-Tony-Robbins-Event-Holding-pamphlet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    opacity: 0.95;
}
.slider_text{
    color: orange;
    line-height: 24px;
    font-size: 20px;
    margin-bottom: 50px;

}

.slider_item-content{
    text-align: center;
    padding-top: 210px;
    max-width: 665px;
    margin: 0 auto;
}
.slider_title{
    text-transform: uppercase;
    font-size: 46px;
    line-height: 46px;
    color: gold;
    letter-spacing: 1.5px;
    font-weight: 800;
    font-family: "Roboto Light", sans-serif;
    margin-bottom: 20px;
}
.slider-btn{
    font-size: 26px;
    line-height: 24px;
    color: gold;
    font-weight: 500;
    font-family: "Roboto Light", sans-serif;
    border: 3px solid orange;
    padding:  10px 80px 10px;
}
.about_top{
    display: flex;
    justify-content: space-between;
    margin-right: 7%;
    margin-left: 13%;

}
.about-title-box{
    max-width: 520px;

}
.about{
    padding-top: 4%;


}
.about_title-box{
    background-color: #f1f1f1;
    right: 10%;
    max-width: 520px;
    padding-left: 140px;
    position: relative;
    font-weight: 600;
}
.about_title-box:before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: cornflowerblue;
    left: 0;

}
.about-title{
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: black;
    font-family: "Roboto Light", sans-serif;

}
.about-btn{
    display: flex;
    justify-content: space-around;
    background-image: url("https://1zl13gzmcsu3l9yq032yyf51-wpengine.netdna-ssl.com/wp-content/uploads/2016/08/robbins-2-1068x561.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    opacity: 0.95;

}
.about-text{

    letter-spacing: 0.5px;
}
.about_items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    background-color: #f1f1f1;
    margin: 0 auto;
}
.about_item{
    font-size: 20px;
    color: darkslateblue;
    padding: 10px 25px;
    border: 4px solid dimgray;
    max-width: 400px;
    font-weight: bold;

}
.brian{
    box-sizing: border-box;
    border:3px solid darkblue;
    padding: 5px 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: #489499;
    margin-top: 11%;
}
.default-btn{
    box-sizing: border-box;
    border:3px solid darkblue;
    padding: 5px 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: #489499;
    margin-top: 15%;
}
.default{
    box-sizing: border-box;
    border:3px solid darkblue;
    padding: 5px 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: #489499;
    margin-top: 54%;
}
.page-footer{
    text-align: center;
    background-color: #386799;
}

