body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
}
#header{
    background-color: darkkhaki;
    width: 100%;
    float: left;


}
#header ul{
    margin: 0 ;
    padding: 0;



}
body{
    margin: 0;
}
#header ul li a{
    text-decoration: none;
    color: rgba(153,70,43,0.99);
    padding: 15px;
    display: block;
}
#header ul li a:hover{
    background-color: khaki;

}
#header ul li{
    float: left;
    list-style: none;

}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
*,
*:before,*:after{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
.container{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("./experience/businesses.jpeg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 1;

}
.intro_inner{
    width: 100%;
    max-width: 1040px;
    text-align: center;


}
.intro_title{
    font-size: 90px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #489499;
}
.intro_title:after{
    content: "";
    display: block;
    width: 110px;
    height: 7px;
    margin: 40px auto 0;
    background-color: aqua;

}
.intro_subtitle{
    font-size: 30px;
    color: #386799;
    font-family: "DejaVu Serif Condensed";
    margin-bottom:25px ;

}
.
.header{
    width: 100%;
    padding-top: 25px;
    position: absolute;
    top:0;
    left: 0;
    right:0;
    z-index:1000;


}
.header_inner{
    display: flex;
    justify-content: space-between;
    position: absolute;
}
.header_logo{
    font-size: 27px;
    font-weight:600 ;
    color: lightblue;

}
.nav{
    font-size: 16px;
    text-transform: uppercase;
}
.nav_link{
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 10px 30px;
    color: powderblue;
    text-decoration: none;
    transition: color 0.2s linear;

}
.nav_link:after{
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    background-color: aqua;
    opacity: 0;
    position: relative;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity 0.1s linear ;
}
.nav_link:hover{
    color:cadetblue ;
}
.nav_link:hover:after{
    opacity: 1;
}
.btn{
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 2px solid powderblue;
    font-size: 14px;
    font-weight: 700;
    color: lightblue;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.1s linear ,color 0.1s linear ;
}
.btn:hover{
    background-color: aqua;
    color: darkslateblue;
}

.slider{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

}
.slider_inner{
    display: flex;
    justify-content: space-between;
}

.slider_item{
    padding:20px  50px 25px 20px;
    border-top:3px solid powderblue;
    width: 10%;
    position: relative;
    color: #99072e;



}
.slider_item.active{
    opacity: 1;
    font-size: 18px;
}
.slider_item.active:after{
    content: "";
    display: block;
    width:45px;
    height: 3px;
    position: absolute;
    top:-3px;
    left: 0;
    z-index: 1;
    background-color: darkslateblue;

}

.section{
    padding: 80px 0;
}
.section_header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}
.section_subtitle{
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: darkslateblue;

}
.section_subtitle:after{
    content: "";
    display: block;
    width:320px ;
    height: 3px;
    margin: 40px auto;
    background-color: yellowgreen;

}
.section_text{
    font-size: 15px;
    color: rgba(35,29,34,0.99);

}
#password{
    display:flex ;
    justify-content:center;

}
#divok,#divok2,#divok3{
    margin: 0;
    padding: 12px ;
    transition: background 0.1s linear ,color 0.1s linear ;
}
.video{
    background-color: gainsboro;
    text-align: center;
    color: #1d3464;
    font-size: 16px;
    font-family: 'Sen', sans-serif;
    letter-spacing: .44px;
    margin: 0 auto;
}
#divok:hover{
    opacity: .7;
    background-color: aqua;

}
#divok2:hover{
    opacity: .7;
    background-color: aqua;
}
#divok3:hover{
    opacity: .7;
    background-color: aqua;
}
.tort{
    background-color: gainsboro;
    color: #386799;
    font-size: 18px;
    font-family:'Kaushan Script', cursive;

}
w
.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}
.scroll-up{
    position: fixed;
    width: 90px;
    height: 10vh;
    left: 0;
    bottom: 0;
    background-color: black;
    color: #f1f1f1;
    font-size: 13px;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background .2s ease;
    display: none;
}
.col-lg-12{
    margin-left: 7%;
}
footer{
    text-align: center;
    background-color: #386799;
}
