body{
    font-family: 'PT Sans', sans-serif;
}
ul,li{
    display: block;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5{
    font-weight: 700;
}
h3{
    font-weight: 400;
}
p,div,a{
    line-height: 1.3em;
}
.header{
    background-color: gainsboro;
    color:black;
}
.menu{
    padding: 8px;

}
.menu_item{
    margin: 0 8px;

}
.menu_item a{
    font-size: 22px;
    font-weight:700 ;
    color: black;
}
.offer{

}
.offer_title{
    font-size: 32px;
    margin-bottom: 6px;
}
.offer_intro{
    font-size: 20px;
}
.offer_text{
    font-size: 22px;
    margin-top: 20px;
    color: darkslategrey;
}
.icons_item{
    margin-right: 80px;
    margin-bottom: 40px;
}
.img_col{
    margin-bottom: 20px;
}
footer{
    text-align: center;
    background-color: #386799;
}
.blogger{
    text-align: center;
    background-color: #1d3464;
    color: white;
}

#head ul li a{
    text-decoration: none;
    color: rgba(153,70,43,0.99);
    padding: 15px;
    display: block;
}
#head ul li a:hover{
    background-color: #386799;

}
#head ul li{
    float: left;
    list-style: none;
    background-color: #aaaaaa;

}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}