*{
    max-width: 100%;
}
#header{
    background-color: darkkhaki;
    width: 100%;
    float: left;


}
#header ul{
    margin: 0 ;
    padding: 0;



}
body{
    margin: 0;
}
#header ul li a{
    text-decoration: none;
    color: rgba(153,70,43,0.99);
    padding: 15px;
    display: block;
}
#header ul li a:hover{
    background-color: khaki;

}
#header ul li{
    float: left;
    list-style: none;

}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.slider{
    background-image: url("https://i.ytimg.com/vi/WuFeatsy1ZA/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    opacity: 0.95;
}
.slider_text{
    color: orange;
    line-height: 24px;
    font-size: 20px;
    margin-bottom: 50px;

}

.slider_item-content{
    text-align: center;
    padding-top: 210px;
    max-width: 665px;
    margin: 0 auto;
}
.slider_title{
    text-transform: uppercase;
    font-size: 46px;
    line-height: 46px;
    color: gold;
    letter-spacing: 1.5px;
    font-weight: 800;
    font-family: "Roboto Light", sans-serif;
    margin-bottom: 20px;
}
.slider-btn{
    font-size: 26px;
    line-height: 24px;
    color: gold;
    font-weight: 500;
    font-family: "Roboto Light", sans-serif;
    border: 3px solid orange;
    padding:  10px 80px 10px;
}
.span{
    font-family: 'Kaushan Script', cursive;
    padding: 4%;
    margin-left: 3%;

}
.h1{
    text-align: center;
    margin-top: 4%;

}
.iframe{
    margin-top: 4%;
    border: 7px solid chocolate;
    text-align: center;
}
.relation{
    font-family: 'Sen', sans-serif;
    color: #2196F3;
}
.iframe2{
    margin-left: 3%;
    margin-top: 5%;
    border: 4px solid chocolate;

}
.span2{
    margin-top: 5%;
    margin-left: 3%;

}
.span2{
    font-family: 'Sen', sans-serif;
    color: darkslategrey;
}
footer{
    text-align: center;
    background-color: #386799;
}