
body{
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    color: silver ;
    line-height: 1.6;
    margin: 0;



}
*,*:before,*:after {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.container{
    width: 100%;
    max-width:1200px ;
    margin: 0 auto;

}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 65vh;
    background: url("https://actu.epfl.ch/image/83774/1440x810.jpg") center no-repeat;
    opacity: 1 ;


}
.intro_title{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: white;
    position: absolute;


}
.intro_inner{
    width: 100%;
    max-width:800px ;
    margin: 0 auto;
    text-align: center;


}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto ;
    color: darkblue;
    font-weight: 900;
    font-size: 20px;


}
.header{
    position: absolute;
    top:0;
    left: 0;
    right:0;
    z-index:1000;
    width: 100%;
    padding-top:15px ;
}
.header_logo{
    font-size:30px ;
    font-weight: 700;
    color: black;
    margin: 0 55px;
}
.nav{
    font-size: 18px;
    margin: 1%;

}
.nav1{
    color: black;
    margin: 0 8px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    transition: color.2s linear ;
    font-weight: bold;
}


.nav1:hover{
    color: #aaaaaa;

}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-success{
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    margin: 2%;


}
.btn-secondary{
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    margin: 2%;

}

.blogger{
    margin: 25px 10px;
}
.col-md-3.active{
    display: grid;
    grid-column: auto;
    margin: 0 auto;

}

#divok ,#divok2,#divok3{
    border: 2px solid #489499  ;
    margin: 0;
    padding: 5px;


}

.intro2{
    margin: 10vh auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background: url("https://img2.goodfon.ru/wallpaper/nbig/1/38/books-literature-knigi-oblozhki.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;


}

.intro_inner2{
    width: 100%;
    max-width:800px ;
    margin: 0 auto;
    text-align: center;
    color: #1d3464;
    font-weight: 900;
    background-color: darkkhaki;
    opacity: 0.8;

}
.intro4  .row {
    border: 1px solid black;
    background-color: white;
}
.intro4 {
    background-color: #489499;

}
.blog{
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    color:chocolate ;
    margin:  auto;
}
#password{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    opacity: 1.5;

}
.btn-primary {
    padding: 8px ;
}
.btn-warning{
    padding: 8px;
}
.btn-info{
    padding: 8px;
}
.color{
    background-color: lightblue;
}

footer{
    text-align: center;
    background-color: #386799;
}
.quote{
    color: #99072e;
    float: right;
    font-family: 'Kaushan Script', cursive;
    padding: 7px;
}