.left{
    height:600px;
    width:28%;
    background-color:limegreen;
    padding:10px;
    color:white;
    border-right:5px solid black;
    border-left:5px solid black;
    border-bottom:5px solid black;
    border-top:5px solid black;
    float:left;


}
.center{
    height:600px;
    width:28%;
    background-color:darkgray;
    padding:10px;
    color:white;
    border-right:5px solid black;
    border-left:5px solid black;
    border-bottom:5px solid black;
    border-top:5px solid black;
    float:left;


}
.right{
    height:600px;
    width:28%;
    background-color:limegreen;
    padding:10px;
    color:white;
    border-right:5px solid black;
    border-left:5px solid black;
    border-bottom:5px solid black;
    border-top:5px solid black;
    float:left;



}
table{
    margin-left:300px;
    margin-top:60px;

}
