body{

    margin: 0 auto;

}
div{

    padding:5px 15px;
}
.raz{
    border-radius:10px 10px 0 0;
    background-color:red;
    min-height:100px;
    line-height:100px;
    text-align:center;
    color:white;



}
.dva{
    background-color:gray;
    float:left;
    margin-right:10px;
    padding:40px;
    max-width:200px;
    min-width:150px;
    max-height:557px;
    min-height:457px;
    color:white;
}
.three{
    margin-bottom:280px;
    text-align:justify;
    max-width: 1100px;
    min-width:1000px;
}
.four{
    margin-bottom:10px;
    background-color: pink;
    padding: 10px;
    text-align: center;


}

