.header{
    background-color: gray;
    color:white;
    height:220px;
    margin-bottom:10px;
    padding:25px;


}
.middle{
    height:220px;
    padding:25px;
}


.end{
    background-color:gray;
    color:white;
    height:400px;


}

.size{
    margin-left:600px;
    margin-top:7px;
}

.message{
    width: 33%;
    height:150px;
}
 .namesize{
     width:33%;
 }
 .emailsize{
     width:33%;
 }

 .submitsize{
     margin-left:120px;
 }
 .box{
     background-color: white;
     width: 350px;
     height:90px;
     padding: 70px;
     float:right;
 }
 .middlebox{
     background-color: grey;
     width: 320px;
     height:90px;
     padding: 70px;
     float:right;
 }

 .media{
     margin-left:1000px;



 }
 .picture{
     float:right;
     margin-bottom:50px;
     margin-right:300px;


 }
 .picture1{
     float:right;
     margin-bottom:50px;
     margin-right:10px;

 }
 .picture2{
     float:right;
     margin-bottom:50px;
    margin-right:20px;
 }
 .picture3{
     float:right;
     margin-bottom:50px;
     margin-right:30px;
 }
 .picture4{
     float:right;
     margin-bottom:50px;
     margin-right:40px;


 }