body{
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    color:white ;
    line-height: 1.6;
    margin: 0;



}
*,*:before,*:after {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.container{
    width: 100%;
    max-width:1200px ;
    margin: 0 auto;

}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 65vh;
    background: url("https://images.ctfassets.net/gxwgulxyxxy1/1yHwVStIyAeC2CuwwwswUG/5641c0cce01346747a3735c8a53c6a65/00.jpg") center no-repeat;
    opacity: 0.8 ;

}
.intro_title{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: white;


}
.intro_inner{
    width: 100%;
    max-width:800px ;
    margin: 0 auto;
    text-align: center;


}
.content{
   display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto ;
    color: midnightblue;
    font-weight: 800;

}
.header{
    position: absolute;
    top:0;
    left: 0;
    right:0;
    z-index:1000;
    width: 100%;
    padding-top:15px ;
}
.header_logo{
    font-size:30px ;
    font-weight: 700;
    color: white;
    margin: 0 40px;
}
.nav{
    font-size: 18px;
    margin: 1%;
}
.nav1{
    color: white;
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    transition: color.2s linear ;
}


.nav1:hover{
    color: #aaaaaa;

}
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-success{
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    margin: 2%;


}
.btn-secondary{
    display: inline-block;
    vertical-align: top;
    padding: 10px 15px;
    margin: 2%;

}
.col-md-2{
    display: flex;
    align-items: center;
    height: 50px;
    margin: auto;
    border: 2px solid greenyellow;
}
.blogger{
    margin: 25px 10px;
}
.col-md-3{
    display: grid;
    grid-column: auto;
   margin: 0 auto;

}

#divok ,#divok2,#divok3{
     border: 2px solid #489499  ;
    margin: 0;
    padding: 5px;


}

.intro2{
    margin: 10vh auto;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50vh;
    background: url("https://i.ytimg.com/vi/EIKju3o-xs4/maxresdefault.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;


}
.intro_inner2{
    width: 100%;
    max-width:800px ;
    margin: 0 auto;
    text-align: center;
    color: gold;
    font-weight: 900;
    background-color: darkblue;
    opacity: 0.8;

}
.intro4  .row {
    border: 1px solid black;
    background-color: white;
}
.intro4 {
    background-color: #489499;

}
.blog{
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    color:chocolate ;
    margin:  auto;
}
#password{
    background-color: aquamarine;
  display: flex;
    justify-content: center;
    opacity: 1.5;

}
.btn-primary {
    padding: 8px ;
}
.btn-warning{
   padding: 8px;
}
.btn-info{
padding: 8px;
}
.color{
    background-color: lightblue;
}
