.p{
    float: left;
    margin-left: 100px;
    margin-top: 59px;
}
.z{

    text-align: justify;
}
.sum{
    float:left;
    margin-left: 90px;
    margin-top: 45px;
}
.y{

    text-align: justify;

}
.log{
    margin-left:5px;
}

.border {
    text-align: center;
    width: 45%;
}

.city{
    margin-right:60px;
}




.center {
    margin-left: 500px;
    margin-top: 100px;
}



