.center{
     width:40%;
     margin-left: 450px;
     margin-top: 130px;
     border-bottom:25px solid black;
     border-top:25px solid black;
 }
.form {
    text-align: left;
}
.label{
    display: inline-block;
    text-align: right;
    margin-right: 210px;
}
label{
    float: left;
}
.form3{
    margin-right: 100px;
}
.form4{
    margin-right: 55px;
}